Options +FollowSymlinks
RewriteEngine on
RewriteRule fiche-(.*)-([0-9]+)$ index.php?g4p_action=fiche_indi&id_pers=$2
RewriteRule patronymes-(.*)-([0-9]+)$ index.php?g4p_action=liste_patronyme&patronyme=$1&g4p_cpt=$2
RewriteRule prenoms-(.*)-([0-9]+)-([0-9]+)$ index.php?g4p_action=liste_prenom&id_nom=$1&g4p_nbre=$2&g4p_page=$3
RewriteRule prenoms-(.*)-([0-9]+)$ index.php?g4p_action=liste_prenom&id_nom=$1&g4p_nbre=$2
RewriteRule arbre_ascendant-(.*)-([0-9]+)$ arbre_ascendant.php?g4p_id=$2
RewriteRule liste_descendance-(.*)-([0-9]+)-([0-9]+)$ liste_descendance.php?g4p_id=$2&g4p_generation=$3
RewriteRule liste_descendance-(.*)-([0-9]+)$ liste_descendance.php?g4p_id=$2
RewriteRule liste_ascendance-(.*)-([0-9]+)-([0-9]+)-implexe$ liste_ascendance.php?g4p_id=$2&g4p_generation=$3&implexe=1
RewriteRule liste_ascendance-(.*)-([0-9]+)-([0-9]+)$ liste_ascendance.php?g4p_id=$2&g4p_generation=$3&implexe=0
RewriteRule liste_ascendance-(.*)-([0-9]+)$ liste_ascendance.php?g4p_id=$2&implexe=0