/* layout global */
/* colour from http://www.colourlovers.com/palette/163356/Genealogy */


html,body
{
	margin:0;
	padding:0;
	background: #6E6B40;
	background-image:url(branche.png);
	background-repeat:no-repeat;
	background-position: -30px 10px;
}

p
{
	margin:0 10px 10px
}

dl
{
	margin-left:1em;
}

div#header h1
{
	height:60px;
	line-height:60px;
	padding:0;
    padding-top:15px;
    padding-bottom:15px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:40px;
    margin-top:10px;
	background: #F1EBDF;
	font-size:1.8em;
    font-weight: 700;
    color: #65381B;
    letter-spacing : 2px;
    border:2px ridge #65381B;
    text-align: center;
}

div#content 
{
	margin:10px;
	padding:0px;
}

div#navigation
{
	background:transparent;
	margin-top:3px;
}

div#footer
{
	background: #6E6B40;
	color: #FFF;
	clear:both;
	width:100%;
	text-align:center;
	padding:5px;
}

div#footer a
{
	color: #FFF;
}

div#footer p
{
	margin:0;
	padding:5px 10px
}

div#container
{

}

div#wrapper
{
	float:right;
	width:100%;
	margin-left:-190px;
}

div#content
{
	margin-left:190px;
	background: #e3d2af;
	border:1px solid #65381B;
	border-top: none;
	padding:0;
}

div#navigation
{
	float:left;
	width:188px;
	z-index:1;
}


h2
{
  font-size:1.3em;
  font-weight:800;
  color:inherit;
  text-align:center;
  text-indent:0;
  padding:2px;
  background-color:transparent;
  margin:0;
}

h3
{
  font-size:1em;
  font-weight:900;
  color:#B99074;
  text-align:left;
  text-indent:1em;
  margin-top:1em;
  margin-bottom:0.2em;
  padding:2px;
  background-color:transparent;
}

/* liens */
a:link
{
  padding:1px;
  color : black;
  border:none;
  text-decoration:none;

}
a:visited
{
  padding:1px;
  color : black;
  text-decoration:none;

}
a:hover
{
  color : red;
  text-decoration:underline;
  border: none;
}

em
{
    text-indent : 0px;
    font-style:italic;
}

ul
{
	list-style-type: none;
}

/* fin layout global */

/* style pous le menu */

li.ssmenu, li.ssmenu a
{
	display:block;
	font-size:0.9em;
	margin:none;
	padding:1px;
	border:0;
	z-index:10;
	background-color:#e3d2af;  
	width:auto;
	text-indent:0;
	font-style:normal;
}


ul.menu {
	float:left;
	margin:5px;
	-margin:2px;
	list-style-type:none;
	padding:0px;
	width:180px;
	-width:170px;
}

ul.ssmenu {
	margin:0px;
	padding:0px;
	lborder:1px solid #65381B;
	border-top:2px groove #65381B;
	width:auto;
	list-style-type:none;
	background-color:transparent;
	font-weight:normal;
	z-index:10;
}

li.menu {
/*  font-size:0.9em; */
	display:block;
	list-style-type:none;
	margin:2px;
	padding:0;
	margin-bottom:10px;
	text-align:left;
	text-indent:20px;
	width:auto;

	border:none;
	background-color:#F1EBDF;
	color:#6A3D21;
	font-weight:bold;
	font-size:large;
}

/* hovers with specificity */
li.ssmenu:hover, li.ssmenu:hover a
{
  background-color: #B9CAFF;
  text-decoration:none;
  color:black;
}
	
li.menu:hover 
{ 
	z-index:10; 
}		
		
ul.menu ul.ssmenu
{
	display:block;
}

li.menu:hover ul.ssmenu
{
	display:block;
}		

/* fin style menu */


/* boxes */

/* box title */
DIV.box_title
{
	border:none;
	border-bottom:2px groove #65381B;
	background-color:#F1EBDF;
	color:#65381B;
	width:auto;
	font-weight:bold;
	font-size:large;
	margin:0;
	padding:0.5em;
	text-indent:5em;
	margin-bottom:2em;
}

DIV.box DIV.box_title
{
	border:none;
	border-bottom:2px groove #65381B;
	background-color:#F1EBDF;
	color:#65381B;
	width:auto;
	font-weight:normal;
	font-size:normal;
	margin:0;
	padding:0.1em;
	text-indent:5em;
}

/* box */
.box
{
    text-align:left;
    border:1px solid #65381B;
    padding:0;
    margin-top:0.2em;
    margin-bottom:2.5em;
    margin-left:5%;
    margin-right:5%;
    text-indent : 15px;
    background-color:#e3d2af;
}

.box .box
{
    background-color:#f0ddb9;
}

.box .box .box
{
    background-color:#fce7c2;
}

/* fin boxes */

/* menu admin pour l'edition des fiches, familles, notes ... */
div.menu_interne
{
  border:none;
  margin:0;
  padding-bottom:0.1em;
  padding-top:0.1em;
  background:none;
  text-align:center;
  margin-bottom:0em;
}

a.admin:link
{
  line-height:170%;
  color:red;
  background-color:#FFC6C3;
  padding:1px;
  border:#65381B 1px solid;
  font-size:x-small;
  vertical-align:middle;
}
a.admin:visited
{
  line-height:170%;
  color:red;
  background-color:#FFC6C3;
  padding:1px;
  border:#65381B 1px solid;
    font-size:x-small;
  vertical-align:middle;
}
a.admin:hover
{
  line-height:170%;
  color:red;
  background-color:#d2eacc;
  padding:1px;
  border:#65381B 1px solid;
    font-size:x-small;
  vertical-align:middle;
}
/* fin menu interne */

/****** Collapsed dl *******/
dl.collapsed
{
	margin-bottom: 1em;
}

.collapsed dt
{
	color:black;
	font-style:italic;
	float: left;
	clear: both;
	margin: 0;
	padding: 0;
	width: auto;
}

.collapsed dd
{
	padding: 0;
	margin: 0;
}


/* style pour l'affichage de la fiche de la personne */


dl.etat_civil
{
	margin-bottom: 1em;
}

dl.etat_civil dt
{
	font-style:italic;
	float: left;
	width: auto;
	margin: 0;
	padding: 0;
	height:1.3em;
	vertical-align:baseline;
}

dl.etat_civil dd
{
	float: none;
	margin: 0;
	padding: 0;
	height:1.3em;
	vertical-align:baseline;
}

/* styles pour les ��ements */

DL.evenements
{
    text-align:left;
    padding:0;
    margin:0;
	margin-bottom:1em;
}

DT
{
	margin-top:0.5em;
}

/* style pour l'affichage de la famille */
div.famille
{
    text-align:left;
    border:2px groove #65381B;
    background-color:#CABB9C;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
    width:80%;
}

/* style pour l'affichage de la liste des enfants */
div.enfants
{
    text-align:left;
    padding-left:1em;
    margin-top:1em;
    margin-bottom:1em;
    
}

div#accueil, div.page
{
    text-align:left;
    border: 2px ridge #65381B;
    padding:10px;
    margin-top:20px;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:10px;
    width:auto;
}

/* les parents */
div.parents
{
    text-align:left;
    padding:0.5em;
    margin-top:1em;
    margin-bottom:1em;
    
}

div.oncles, div.cousins, div.freres
{
    text-align:left;
    padding-left:0.5em;
    padding-top:0em;
    padding-bottom:0em;
    margin-top:0em;
    margin-bottom:0em;
    
}

/* */
div.notes, div.sources, div.multimedias
{
  margin-top:1.5em;
  margin-bottom:0.5em;
  padding:0.5em;
  border:#65381B dashed 1px;
}

div.a_note, div.a_source, div.a_multimedia
{
    text-align:left;
    border:1px dotted #65381B;
    padding-top:0;
	padding-bottom:0.5em;
	padding-right:0em;
	padding-left:0em;
    margin-top:0em;
    margin-bottom:1.5em;
    margin-left:5%;
    margin-right:5%;
    text-indent : 15px;
    font-size : small;
    background-color:#CABB9C;
}

dl.source
{
	margin-bottom: 1em;
}

.source dt
{
	font-style:italic;
	float: left;
	clear: both;
	margin: 0;
	padding: 0;
	width: auto;
}

.source dd
{
	padding: 0;
	margin: 0;
}


/* fin style pour fiche individuelle */

/* affichage de la date entre-parenth�e*/
span.petit
{
    font-size: small;
    font-style : italic;
	margin-left:0.5em;
}

/* Styles pour la liste des patronymes et des personnes */
.colonne {
    lfloat : left;
    text-align : center;
    lwidth : 49.5%;
    margin:0;
	padding:10px;
    background-color:transparent;
	lborder:1px solid #65381B;
	column-width:200px;
	lcolumn-count:3;
	-moz-column-width:200px;
	-webkit-column-width:200px;
	lcolumn-gap: 10px;

}

div.conteneur_colonnes
{
  margin-left:auto;
  margin-right:auto;
  width:75%;
  padding:5px;
  background-color:transparent;
  border:none;
}

ul.lettre
{
  text-align:center;
  border-bottom:2px groove #65381B;
  font-size:small;
  padding:5px;
  letter-spacing:1px;
}

div.page_prenom
{
    text-align:center;
    border: 2px ridge #65381B;
    padding:10px;
    margin-top:20px;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:10px;
    background-color:#EFEFEF;
    width:auto;
}

div.liste_prenoms
{
    margin-left:10%;
    margin-right:10%;
    margin-top:20px;
    background-color:#EFEFEF;
    border: 2px ridge #65381B;
    padding:2%;
    width:auto;
    text-align:left;
}

/* divers */

.link_nom
{
	font-size:inherit;
}

form
{
		margin:1em;
}


/* jquery autocomplete css */
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}
